<!doctype html>
<html>
  <head>
    <title>Doctor View</title>
  </head>
  <body>
    <div class="center">
        <h3>Patient: {{ request.args.get('name') }}</h3>
        <h4>Upload X-ray Images</h4>
        <form method="POST" action="/upload.html" enctype="multipart/form-data">
        <p><input type="file" name="file">
        <input type="submit" value="Submit"></p>
        </form>
    </div>
  </body>

  <style>
    h3{
        text-align: center;
    }
    h4{
        text-align: center;
    }

    body{
        background-color: black;
        color: rgb(192, 191, 191);
    }
    .center{
        margin: auto;
        max-width: max-content;
        text-align: center;
        vertical-align: auto;
        position: relative;
    }
</style>
</html>