<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient's View</title>
</head>

<body>
    <br>
    <h3>Patient: {{ request.args.get('name') }}</h3>
    <h4>Your XRAY image : </h4>

    <h4>You have a  percentage  of having  diagnosis  </h4>

</body>

<style>
    h3{
        text-align: center;
    }
    h4{
        text-align: center;
    }
    body{
        background-color: black;
        color: rgb(192, 191, 191);
    }
</style>
</html>
